* {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.4rem;
}

body {
  padding: 0;
  margin: 0;
  font-family: $body-font;
}

section {
  height: 70vh;
  padding-left: 4%;
  padding-right: 4%;
}

//a {
//  padding: 1rem 1rem;
//  border: 2px solid $black;
//  background-color: $black;
//  max-width: 200px;
//  color: $white;
//  text-transform: uppercase;
//  text-decoration: none;
//  text-align: center;
//  &:hover {
//    background-color: transparent;
//    color: $black;
//    transition: .5s ease;
//  }
//}