* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.4rem;
}
p {
  font-size: .8rem;
  line-height: 1rem;
}

body {
  padding: 0;
  margin: 0;
  font-family: $body-font;
}

section {
  padding-left: 4%;
  padding-right: 4%;
  &.ga-projects {
    margin-top: 3rem;
  }
}

.section-title-container {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  .section-title {
    position: relative;
    max-width: 50%;
    line-height: 5rem;
    &:after {
      content: "";
      position: absolute;
      background-color: $light-blue;
      height: 4px;
      width: 150px;
      bottom: 0;
      right: -15px
    }
  }
}

.project-link, .cta-link {
  text-decoration: none;
  color: $black;
  padding-bottom: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  &:hover {
    //font-weight: bold;
    border-bottom: 2px solid $black;
    padding-bottom: 5px;
  }
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  .cta-container {
    display: flex;
    justify-content: space-evenly ;
    max-width: 1024px;
    min-width: 50%;
    @include tablet {
      flex-direction: column;
    }
    .cta-link {
      font-size: 1.5rem;
      @include tablet {
        text-align: center;
      }
      &:first-child {
        @include tablet {
          margin-bottom: 1rem;
        }
      }
    }
  }
}