// Hero Banner
.home-hero {
  background-image: url("assets/Simone-2.jpg");
  opacity: 1;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .hero-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 5%;
    .hero-title {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 2rem;
      h1 {
        font-size: 4rem;
        color: $black;
        position: relative;
        line-height: 7rem;
        &:after {
          content: "";
          position: absolute;
          background-color: $black;
          height: 4px;
          width: 150px;
          bottom: 0;
          right: -15px
        }
      }
    }
    .hero-intro {
      max-width: 45%;
      margin-top: 50px;
      p {
        text-align: right;
        line-height: 2rem;
      }
    }
    .socials-container {
      display: flex;
      position: absolute;
      bottom: 25px;
      right: 4%;
      a {
        font-size: 2rem;
        color: $black;
      }
      .linkedin {
        margin-right: 25px;
      }
    }
  }
}

// About Section
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35rem;
  .about-container {
    background-color: $white;
    padding: 25px;
    -webkit-box-shadow: 7px 7px 8px 0px rgba(199,199,199,1);
    -moz-box-shadow: 7px 7px 8px 0px rgba(199,199,199,1);
    box-shadow: 7px 7px 8px 0px rgba(199,199,199,1);
    max-width: 1240px;
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    .absolute-square {
      position: absolute;
      height: 250px;
      width: 250px;
      border: 4px solid black;
      top: -40px;
      left: -40px;
      z-index: -9;
    }
    .about-title-container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 2rem;
      .about-title {
        position: relative;
        line-height: 5rem;
        &:after {
          content: "";
          position: absolute;
          background-color: $light-blue;
          height: 4px;
          width: 150px;
          bottom: 0;
          right: -15px
        }
      }
    }

  }
}

// Projects Section
.projects {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  .row {
    display: flex;
    min-height: 20rem;
    .project-image-container {
      position: relative;
      max-width: 50%;
      overflow: hidden;
      @include nine-fifty {
        max-width: unset;
      }
      .project-image-overlay {
        background: $beige-07;
        position: absolute;
        height: 99%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
      }
      .project-image{
        width: 100%;
        height: auto;
      }
      .image-overlay-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        .overlay-text {
          color: $black;
        }
        .fadeIn-bottom{
          top: 80%;
        }
      }
      &:hover {
        .project-image-overlay {
          opacity: 1;
        }
        .image-overlay-details{
          top: 50%;
          left: 50%;
          opacity: 1;
        }
      }
    }
    .project-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      @include nine-fifty {
        width: 100%;
        height: 22rem;
      }
      .project-container-inner {
        position: relative;
        max-width: 60%;
        padding: 25px 15px;
        background-color: $white;
        -webkit-box-shadow: 7px 7px 8px 0px rgba(199,199,199,1);
        -moz-box-shadow: 7px 7px 8px 0px rgba(199,199,199,1);
        box-shadow: 7px 7px 8px 0px rgba(199,199,199,1);
        .absolute-square-project {
          position: absolute;
          height: 150px;
          width: 150px;
          border: 2px solid black;
          z-index: -9;
        }
        .project-title {
          margin-bottom: 1rem;
        }
        .project-description {
          font-size: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
  .row-odd {
    @include nine-fifty {
      flex-direction: column;
      min-height: unset;
    }
    .project-container {
      .project-container-inner {
        -webkit-box-shadow: 7px 7px 8px 0px rgba(199,199,199,1);
        -moz-box-shadow: 7px 7px 8px 0px rgba(199,199,199,1);
        box-shadow: 7px 7px 8px 0px rgba(199,199,199,1);
        .absolute-square-project {
          top: -30px;
          left: -50px;
        }
      }
    }
  }
  .row-even {
    @include nine-fifty {
      flex-direction: column-reverse;
      min-height: unset;
    }
    .project-container {
      .project-container-inner {
        -webkit-box-shadow: -7px 8px 7px 0px rgba(199,199,199,1);
        -moz-box-shadow: -7px 8px 7px 0px rgba(199,199,199,1);
        box-shadow: -7px 8px 7px 0px rgba(199,199,199,1);
        .absolute-square-project {
          top: -30px;
          right: -50px;
        }
      }
    }
  }
}


.ga-projects {
  .section-title-container {
    .section-title {
      &:after {
        background-color: $black;
      }
    }
  }
  display: flex;
  flex-direction: column;
  min-height: 32rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $beige;
  .ga-projects-container {
    display: flex;
    justify-content: space-around;
    min-height: 22rem;
    @include laptop {
      flex-direction: column;
    }
    .ga-project {
      display: flex;
      flex-direction: column;
      max-width: 25%;
      @include laptop {
        max-width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      .ga-project-title {
        margin-bottom: 2rem;
      }
      img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        -webkit-box-shadow: 7px 7px 8px 0px rgba(0,0,0, .7);
        -moz-box-shadow: 7px 7px 8px 0px rgba(0,0,0, .7);
        box-shadow: 7px 7px 8px 0px rgba(0,0,0, .7);
        @include laptop {
          width: 70%;
        }
      }
      .description-container {
        .description-inner {
          padding: 0 1rem;
          margin: 2rem 0;
          background-color: $beige;
          position: relative;
          z-index: 10;
          &:before {
            content: '';
            height: 100px;
            width: 100px;
            border: 2px solid $black;
            position: absolute;
            top: -25px;
            left: -10px;
            z-index: -1;
          }
          .ga-project-description {
            padding: 1rem 1rem;
            background-color: $beige;
            z-index: 1;
          }
          .ga-project-skills {
            padding: 1rem 1rem;
            background-color: $beige;
          }
          .links {
            display: flex;
            justify-content: space-around;
            margin-top: 2rem;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
          }
        }
      }
    }
  }
}

