header {
  .mobile-menu {
    position: fixed;
    top: 2rem;
    right: 4%;
    z-index: 99999999;
    width: 48px;
    height: 36px;
    .hamburger {
      position: relative;
      height: 100%;
      z-index: 1;
      cursor: pointer;
      padding: 5px;
      overflow: hidden;
      span {
        position: absolute;
        width: 80%;
        height: 3px;
        background-color: $black;
        left: 10%;
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        &:nth-child(2) {
          top: 16px;
        }
        &:nth-child(3) {
          top: 27px;
        }
      }
    }
    nav {
      position: fixed;
      width: 20vw;
      height: 100vh;
      top: 0;
      right: 120%;
      transition: all 1s ease-in-out;
      -webkit-transition: all 1s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      opacity: .9;
      //border-width: 3px;
      //border-style: solid;
      //border-image: linear-gradient(to bottom, $black, #FDFEFE) 1 100%;
      ul {
        text-transform: uppercase;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        li {
          padding: 10px 0;
          text-align: left;
          a {
            color: $black;
            text-decoration: none;
            font-size: 1.4em;
            text-align: left;
          }
        }
      }
    }
    &.open {
      span {
        &:nth-child(1) {
          transform: rotateZ(45deg);
          top: 16px;
        }
        &:nth-child(2) {
          transform: translateX(-100%);
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotateZ(-45deg);
          top: 16px;
        }
      }
      nav {
        right: 80%;
      }
    }
  }
}