// Colors
$darker: #112236;
$dark: #436280;
$light: #a3bad2;
$lighter: #dbe4ed;
$black: #000000;
$white: #ffffff;

// Fonts
$header-font: 'Libre Baskerville', monospace;
$body-font: 'Montserrat', sans-serif;

// Breakpoints
$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 640px;
