@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Montserrat:400,700");
* {
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", monospace; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.4rem; }

p {
  font-size: .8rem;
  line-height: 1rem; }

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif; }

section {
  padding-left: 4%;
  padding-right: 4%; }
  section.ga-projects {
    margin-top: 3rem; }

.section-title-container {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }
  .section-title-container .section-title {
    position: relative;
    max-width: 50%;
    line-height: 5rem; }
    .section-title-container .section-title:after {
      content: "";
      position: absolute;
      background-color: #B3E5FC;
      height: 4px;
      width: 150px;
      bottom: 0;
      right: -15px; }

.project-link, .cta-link {
  text-decoration: none;
  color: #000000;
  padding-bottom: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .project-link:hover, .cta-link:hover {
    border-bottom: 2px solid #000000;
    padding-bottom: 5px; }

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem; }
  .cta .cta-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1024px;
    width: 50%; }
    .cta .cta-container .cta-link {
      font-size: 1.5rem; }

header .mobile-menu {
  position: fixed;
  top: 2rem;
  right: 4%;
  z-index: 99999999;
  width: 48px;
  height: 36px; }
  header .mobile-menu .hamburger {
    position: relative;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    padding: 5px;
    overflow: hidden; }
    header .mobile-menu .hamburger span {
      position: absolute;
      width: 80%;
      height: 3px;
      background-color: #000000;
      left: 10%;
      -webkit-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
      header .mobile-menu .hamburger span:nth-child(2) {
        top: 16px; }
      header .mobile-menu .hamburger span:nth-child(3) {
        top: 27px; }
  header .mobile-menu nav {
    position: fixed;
    width: 20vw;
    height: 100vh;
    top: 0;
    right: 120%;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    opacity: .9; }
    header .mobile-menu nav ul {
      text-transform: uppercase;
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start; }
      header .mobile-menu nav ul li {
        padding: 10px 0;
        text-align: left; }
        header .mobile-menu nav ul li a {
          color: #000000;
          text-decoration: none;
          font-size: 1.4em;
          text-align: left; }
  header .mobile-menu.open span:nth-child(1) {
    transform: rotateZ(45deg);
    top: 16px; }
  header .mobile-menu.open span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0; }
  header .mobile-menu.open span:nth-child(3) {
    transform: rotateZ(-45deg);
    top: 16px; }
  header .mobile-menu.open nav {
    right: 80%; }

.home-hero {
  background-image: url("assets/Simone-2.jpg");
  opacity: 1;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .home-hero .hero-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 5%; }
    .home-hero .hero-container .hero-title {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 2rem; }
      .home-hero .hero-container .hero-title h1 {
        font-size: 4rem;
        color: #000000;
        position: relative;
        line-height: 7rem; }
        .home-hero .hero-container .hero-title h1:after {
          content: "";
          position: absolute;
          background-color: #000000;
          height: 4px;
          width: 150px;
          bottom: 0;
          right: -15px; }
    .home-hero .hero-container .socials-container {
      display: flex;
      align-items: flex-end;
      position: absolute;
      bottom: 25px;
      right: 4%; }
      .home-hero .hero-container .socials-container a {
        font-size: 2rem;
        color: #000000;
        margin-right: 25px; }

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35rem; }
  .about-me .about-container {
    background-color: #ffffff;
    padding: 25px;
    -webkit-box-shadow: 7px 7px 8px 0px #c7c7c7;
    -moz-box-shadow: 7px 7px 8px 0px #c7c7c7;
    box-shadow: 7px 7px 8px 0px #c7c7c7;
    max-width: 1240px;
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative; }
    .about-me .about-container .absolute-square {
      position: absolute;
      height: 250px;
      width: 250px;
      border: 4px solid black;
      top: -40px;
      left: -40px;
      z-index: -9; }
    .about-me .about-container .about-title-container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 2rem; }
      .about-me .about-container .about-title-container .about-title {
        position: relative;
        line-height: 5rem; }
        .about-me .about-container .about-title-container .about-title:after {
          content: "";
          position: absolute;
          background-color: #B3E5FC;
          height: 4px;
          width: 150px;
          bottom: 0;
          right: -15px; }

.projects {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 3rem; }
  .projects .row {
    display: flex;
    min-height: 20rem; }
    .projects .row .project-image-container {
      position: relative;
      max-width: 50%;
      overflow: hidden; }
      @media (max-width: 950px) {
        .projects .row .project-image-container {
          max-width: unset; } }
      .projects .row .project-image-container .project-image-overlay {
        background: rgba(221, 216, 213, 0.7);
        position: absolute;
        height: 99%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s; }
      .projects .row .project-image-container .project-image {
        width: 100%;
        height: auto; }
      .projects .row .project-image-container .image-overlay-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
        .projects .row .project-image-container .image-overlay-details .overlay-text {
          color: #000000; }
        .projects .row .project-image-container .image-overlay-details .fadeIn-bottom {
          top: 80%; }
      .projects .row .project-image-container:hover .project-image-overlay {
        opacity: 1; }
      .projects .row .project-image-container:hover .image-overlay-details {
        top: 50%;
        left: 50%;
        opacity: 1; }
    .projects .row .project-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%; }
      @media (max-width: 950px) {
        .projects .row .project-container {
          width: 100%;
          height: 22rem; } }
      .projects .row .project-container .project-container-inner {
        position: relative;
        max-width: 60%;
        padding: 25px 15px;
        background-color: #ffffff;
        -webkit-box-shadow: 7px 7px 8px 0px #c7c7c7;
        -moz-box-shadow: 7px 7px 8px 0px #c7c7c7;
        box-shadow: 7px 7px 8px 0px #c7c7c7; }
        .projects .row .project-container .project-container-inner .absolute-square-project {
          position: absolute;
          height: 150px;
          width: 150px;
          border: 2px solid black;
          z-index: -9; }
        .projects .row .project-container .project-container-inner .project-title {
          margin-bottom: 1rem; }
        .projects .row .project-container .project-container-inner .project-description {
          font-size: 1rem;
          margin-bottom: 1rem; }
  @media (max-width: 950px) {
    .projects .row-odd {
      flex-direction: column;
      min-height: unset; } }
  .projects .row-odd .project-container .project-container-inner {
    -webkit-box-shadow: 7px 7px 8px 0px #c7c7c7;
    -moz-box-shadow: 7px 7px 8px 0px #c7c7c7;
    box-shadow: 7px 7px 8px 0px #c7c7c7; }
    .projects .row-odd .project-container .project-container-inner .absolute-square-project {
      top: -30px;
      left: -50px; }
  @media (max-width: 950px) {
    .projects .row-even {
      flex-direction: column-reverse;
      min-height: unset; } }
  .projects .row-even .project-container .project-container-inner {
    -webkit-box-shadow: -7px 8px 7px 0px #c7c7c7;
    -moz-box-shadow: -7px 8px 7px 0px #c7c7c7;
    box-shadow: -7px 8px 7px 0px #c7c7c7; }
    .projects .row-even .project-container .project-container-inner .absolute-square-project {
      top: -30px;
      right: -50px; }

.ga-projects {
  display: flex;
  flex-direction: column;
  min-height: 32rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #DDD8D5; }
  .ga-projects .section-title-container .section-title:after {
    background-color: #000000; }
  .ga-projects .ga-projects-container {
    display: flex;
    justify-content: space-around;
    min-height: 22rem; }
    @media (max-width: 1024px) {
      .ga-projects .ga-projects-container {
        flex-direction: column; } }
    .ga-projects .ga-projects-container .ga-project {
      display: flex;
      flex-direction: column;
      max-width: 25%; }
      @media (max-width: 1024px) {
        .ga-projects .ga-projects-container .ga-project {
          max-width: 100%;
          margin-top: 2rem;
          margin-bottom: 2rem; } }
      .ga-projects .ga-projects-container .ga-project .ga-project-title {
        margin-bottom: 2rem; }
      .ga-projects .ga-projects-container .ga-project img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        -webkit-box-shadow: 7px 7px 8px 0px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 7px 7px 8px 0px rgba(0, 0, 0, 0.7);
        box-shadow: 7px 7px 8px 0px rgba(0, 0, 0, 0.7); }
        @media (max-width: 1024px) {
          .ga-projects .ga-projects-container .ga-project img {
            width: 70%; } }
      .ga-projects .ga-projects-container .ga-project .description-container .description-inner {
        padding: 0 1rem;
        margin: 2rem 0;
        background-color: #DDD8D5;
        position: relative;
        z-index: 10; }
        .ga-projects .ga-projects-container .ga-project .description-container .description-inner:before {
          content: '';
          height: 70px;
          width: 70px;
          border: 2px solid #000000;
          position: absolute;
          top: -20px;
          left: 0px;
          z-index: -1; }
        .ga-projects .ga-projects-container .ga-project .description-container .description-inner .ga-project-description {
          padding: 1rem 1rem;
          background-color: #DDD8D5;
          z-index: 1; }
        .ga-projects .ga-projects-container .ga-project .description-container .description-inner .ga-project-skills {
          padding: 1rem 1rem;
          background-color: #DDD8D5; }
        .ga-projects .ga-projects-container .ga-project .description-container .description-inner .links {
          display: flex;
          justify-content: space-around;
          margin-top: 2rem;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }

footer {
  background-color: #000000; }
  footer .top-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 0 auto;
    padding: 2rem 0; }
    footer .top-footer .footer-title {
      text-align: center;
      padding-bottom: 2rem; }
    footer .top-footer .footer-inner {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 3rem;
      width: 100%;
      max-width: 1240px; }
      footer .top-footer .footer-inner .top-footer-column {
        color: #ffffff; }
        footer .top-footer .footer-inner .top-footer-column a {
          color: #ffffff;
          font-size: 2rem; }
  footer .bottom-footer {
    height: 1.5rem;
    padding-bottom: 1rem;
    text-align: center; }
    footer .bottom-footer p {
      color: #ffffff; }
